body{
    background-color: gray;
    /*background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(82,82,82,1) 100%);
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
}

a{
    text-decoration: none;
}

h4{
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
}

p2{
    color:black;
    position: absolute;
    bottom: 0;
    width: 99%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

r{
    color: red;
}

p3 {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
  }