body {
    background-color: rgb(155, 155, 155);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

table {
    text-align: center;
}

h3 {
    display: inline;
}

.website-counter {
    display: inline;
    color: #135eff;
    font-weight: 600;
    font-size: 20px;
  }

.icona {
    height: 65px;
    width: 65px;
}

#footer {
    text-align: center;
    font-family: sans-serif;
    bottom: 0;
    height: 20px;
    width: 99%;
    border-top:1px solid black;
    padding-top:10px;
    background-color: rgb(155, 155, 155);
}

@media all and (max-width:1200px) {
    #footer {
        width: 100%;
        left: 0;
    }
}