body {
    background-color: rgb(155, 155, 155);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    z-index: 0;
}

::-webkit-scrollbar {
    display: none;
}

table {
    text-align: center;
}

h3 {
    display: inline;
}

.tabella{
    background-color: #b3b3b3;
    box-shadow: 5px 5px 10px black;
    text-align: left;
    border-radius: 5px;
}

.tabella2 b{
    font-size: 20px;
    margin-left: 10px;
}

.gruppo {
    background-color: #bbbbbb;
    box-shadow: 6px 6px 12px black;
    border-radius: 20px;
}

.pdf {
    background-color: #555555;
    border: none;
    color: white;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    box-shadow: 2px 2px 4px white;
}

.appunti-bottone {
    background-color: #555555;
    border: none;
    color: white;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    box-shadow: 2px 2px 4px white;
    margin-left: 15px;
}

.esame-bottone {
    background-color: #555555;
    border: none;
    color: white;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    box-shadow: 2px 2px 4px white;
}

.website-counter {
    display: inline;
    color: #135eff;
    font-weight: 600;
    font-size: 20px;
  }

.icona {
    height: 65px;
    width: 65px;
    filter: drop-shadow(4px 4px 1px#707070);
}

#footer {
    text-align: center;
    font-family: sans-serif;
    bottom: 0;
    height: 20px;
    width: 99%;
    border-top:1px solid black;
    padding-top:10px;
    background-color: rgb(155, 155, 155);
}

@media all and (max-width:1200px) {
    #footer {
        width: 100%;
        left: 0;
    }
}

@media all and (max-width:440px) {

    .pdf {
        padding: 6px 13px;
        font-size: 13px;
    }
    
    .appunti-bottone {
        padding: 6px 13px;
        font-size: 13px;
    }

    .tabella1 b {
        font-size: 14px;
    }

    .esame-bottone {
        font-size: 12px;
    }
}


