#footer-container {
    position: absolute;
    min-height: 60vh;
    width: 100%;
    height: 20em;
    left: 0;
    display: block;
}
.footer{
    width: 100%;
    margin-top: 150px;
    display: flex;
    position: absolute;
    bottom: 0px;
    background-color: #333;
    color: #efefef;
}

.footer div {
    text-align: center;
}

.colonna1{
    width: 50%;
    margin-top: 50px;
    margin-left: 110px;
    margin-bottom: 20px;
}

.colonna2 {
    width: 50%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.colonna1 img {
    height: 50px;
}

.colonna1 h2 {
    text-align: left;
    font-weight: 20;
}
.colonna1 h3 {
    text-align: left;
    font-weight: 20;
    margin-left: 5px;
}

.colonna1 hr {
    border: solid 1px #efefef;
    width: 475px;
}

.colonna2 img {
    height: 80px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    filter: invert();
    margin-left: 15px;
    margin-right: 15px;
}

.colonna2 img:hover{
    background-color: #999;
}

.contatti_footer{
    margin-right: 6rem;
}

.contatti_footer a{
    text-decoration: none;
}

@media screen and (max-width:1050px) {

    #footer-container{
        display: none;
    }
}
@media screen and (max-width:1220px) {

    .colonna1{
        margin-left: 50px;
    }
}
