body
{
    background-color: rgb(155, 155, 155);
    font-family: sans-serif;
}

li {
    display: inline;
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
li a:hover {
    background-color: #111;
}

.rif a:link{
    color: #e60000;
    text-decoration: none;
}

.rif a:visited{
    color: #e60000;
    text-decoration: none;
}

hr{
    border: 1px solid #333;
    width: 70%;
}

#logo{
    border-radius: 50%;
    width: 100px ;
    height: 100px;
}

#footer {
    text-align: center;
    font-family: sans-serif;
    position:fixed;
    left: 0;
    bottom: 5px;
    width: 100%;
    border-top:1px solid black;
    padding-top:10px;
}