body
{
    background-color: rgb(155, 155, 155);
    font-family: sans-serif;
}

::-webkit-scrollbar{
    display: none;
}

li {
    display: inline;
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.imgnavbar{
    height: 23px;
    width: 23px;
    filter: invert(100%);
}

.rif a:link{
    color: #e60000;
    text-decoration: none;
}

.rif a:visited{
    color: #e60000;
    text-decoration: none;
}

.rimmagine{
    border-radius: 50%;
    width: 100px ;
    height: 100px;
}

hr{
    border: 1px solid #333;
    width: 70%;
}

#countdown{
    display: inline;
    border-bottom: 1px solid black;
}

#footer {
    text-align: center;
    font-family: sans-serif;
    position: fixed;
    bottom: 0;
    height: 25px;
    width: 99%;
    border-top:1px solid black;
    padding-top:10px;
    background-color: rgb(155, 155, 155);
}

@media all and (max-width:1200px){
    #footer{
        position: fixed;
        width: 100%;
        left: 0;
    }
}