body {
    background-color: rgb(155, 155, 155);
    font-family: sans-serif;
    overflow-x: hidden;
}

#games{
    border-bottom: 1px solid black;
}

#games a:link {
    color: black;
    text-decoration: underline;
}

#games a:visited {
    color: black;
    text-decoration: underline;
}

.tp td{
    padding-right: 40vh;
}

::-webkit-scrollbar {
    display: none;
}

#footer {
    text-align: center;
    font-family: sans-serif;
    position: fixed;
    bottom: 0;
    height: 25px;
    width: 99%;
    border-top:1px solid black;
    padding-top:10px;
    background-color: rgb(155, 155, 155);
}

.progetto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    border-bottom: 1px solid black;
    font-weight: 550;
}

.progetto a:link {
    color: #e60000;
    text-decoration: none;
}

.progetto a:visited {
    color: #e60000;
    text-decoration: none;
}

@media all and (max-width:1200px) {

    .widjet{
        display: none;
    }

    .tp td{
        padding-right: 0;
    }

    #footer {
        position: fixed;
        width: 100%;
        left: 0;
    }
}