body {
    background-color: rgb(155, 155, 155);
    font-family: sans-serif;
    overflow-x: hidden;
}

#games {
    text-align: center;
}

#games a:link {
    color: black;
    text-decoration: underline;
}

#games a:visited {
    color: black;
    text-decoration: underline;
}

.tp {
    margin-left: 40px;
    margin-right: 20px;
}

.widjet iframe {
    box-shadow: 6px 6px 12px white;
}

::-webkit-scrollbar {
    display: none;
}

#footer {
    text-align: center;
    font-family: sans-serif;
    position: fixed;
    bottom: 0;
    height: 25px;
    width: 99%;
    border-top:1px solid black;
    padding-top:10px;
    background-color: rgb(155, 155, 155);
}

.progetti-container {
    width: 100%;
}

.progetto{
    font-family: sans-serif;
    max-width: 90%; /* Imposta la larghezza massima desiderata */
    margin: 0 auto; /* Centra il div horizontalmente */
    font-weight: 550;
    background-color: #bbbbbb;
    box-shadow: 6px 6px 12px black;
}

.progetto a:link {
    color: #e60000;
    text-decoration: none;
}

.progetto a:visited {
    color: #e60000;
    text-decoration: none;
}

.mobile {
    display: none;
    text-align: center;
}

.mobile img{
    box-shadow: 6px 6px 12px black;
    border: solid black 1px;
}

.progetto-testo{
    width: 60%;
}


@media all and (max-width:1500px) {

    .widjet {
        display: none;
    }

    .mobile {
        display: block;
    }

    .progetto{
        max-width: 95%;
    }

    #footer {
        position: fixed;
        width: 100%;
        left: 0;
    }
}

@media all and (max-width:440px) {

    .progetto span {
        font-size: 85%;
     }

     .tp {
        margin-left: 20px;
    }
}